<div class="row">
    <div class="col-md-1">#{{index}}</div>
    <div class="col-md-5">
        <md-input placeholder="Class Name" [(ngModel)]="taskClass.name"></md-input>
    </div>
    <div class="col-md-3">
        <md-select placeholder="Select type" style="width: 100%" [(ngModel)]="taskClass.type">
            <md-option *ngFor="let item of classTypes" [value]="item.value">{{item.name}}</md-option>
        </md-select>
    </div>
    <div class="col-md-2">
        <md-input placeholder="a" [(ngModel)]="taskClass.params.a"></md-input>
        <md-input placeholder="b" [(ngModel)]="taskClass.params.b"></md-input>
        <md-input placeholder="c" [(ngModel)]="taskClass.params.c"></md-input>
        <md-input placeholder="d" [(ngModel)]="taskClass.params.d"></md-input>
    </div>
    <div class="col-md-1">
        <button class="btn btn-icon"><md-icon>delete</md-icon></button>
    </div>
</div>