<div *ngFor="let item of inputParams; let i = index" id="inputParam{{i}}">
    <h4>Input Param {{i}}:</h4>
    <div class="row">
        <div class="col-md-1">
            <a href="#{{i}}">#{{i}}</a>
        </div>
        <div class="col-md-5">
            <md-input placeholder="Task Name" [(ngModel)]="item.name" style="width: 100%"></md-input>
        </div>
        <div class="col-md-2">
            <md-input placeholder="From" [(ngModel)]="item.from" style="width: 100%"></md-input>
        </div>
        <div class="col-md-2">
            <md-input placeholder="To" [(ngModel)]="item.to" style="width: 100%"></md-input>
        </div>
        <div class="col-md-2 card-header">
            <a data-toggle="collapse" href="#inputClasses{{i}}" aria-expanded="true" [attr.aria-controls]="'inputClasses' + i">
                V
            </a>
        </div>
    </div>
        <div class="card">
            <div class="collapse" id="inputClasses{{i}}">
                <div class="card-block">
                    Classes
                </div>
            </div>
        </div>
</div>
<!--<div *ngFor="let item of inputParams; let i = index" id="inputParam{{i}}">
    <h4>Input Param {{i}}:</h4>
    <div>
        <div class="form-group" style="display: inline-block;">
            <label for="inputParamName{{i}}">{{item.name}}</label>
            <input id="inputParamName{{i}}" type="text" class="form-control" [(ngModel)]="item.name">
        </div>
        <div class="form-group" style="display: inline-block;">
            <label for="inputParamFrom{{i}}">From:</label>
            <input id="inputParamFrom{{i}}" type="text" class="form-control" [(ngModel)]="item.from">
        </div>
        <div class="form-group" style="display: inline-block;">
            <label for="inputParamTo{{i}}">To:</label>
            <input id="inputParamTo{{i}}" type="text" class="form-control" [(ngModel)]="item.to">
        </div>
    </div>
</div>-->