<div class="row">
    <div class="col-md-1">
        <a href="#{{index}}">#{{index}}</a>
    </div>
    <div class="col-md-5">
        <md-input placeholder="Param Name" [(ngModel)]="inputParam.name"></md-input>
    </div>
    <div class="col-md-2">
        <md-input placeholder="From" [(ngModel)]="inputParam.from"></md-input>
    </div>
    <div class="col-md-2">
        <md-input placeholder="To" [(ngModel)]="inputParam.to"></md-input>
    </div>
    <div class="col-md-2 card-header">
        <a data-toggle="collapse" href="#inputClasses{{index}}" aria-expanded="true" [attr.aria-controls]="'inputClasses' + index">
            <md-icon>expand_more</md-icon>
        </a>
    </div>
</div>
<div class="collapse expanded" id="inputClasses{{index}}">
    <div class="panel panel-container">
        <task-class *ngFor="let item of inputParam.classes; let i = index" [index]="i" [class]="item"></task-class>
        <button class="btn btn-primary" (click)="addTaskClass()"><md-icon>add</md-icon> Add class</button>
    </div>
        <!--<div class="card-block">
            <task-class *ngFor="let item of inputParam.classes; let i = index" [index]="i" [class]="item"></task-class>
            <button class="btn btn-primary" (click)="addTaskClass()"><md-icon>add</md-icon> Add class</button>
        </div>-->
</div>