<md-input placeholder="Task Name" [(ngModel)]="task.name" style="width: 100%"></md-input>
<button class="btn fab" (click)="saveToCookies()">
    <md-icon [ngClass]="{'sync-progress': buttonState}">sync</md-icon>
</button>
<md-tab-group>
    <md-tab label="Input params">
        <task-input *ngFor="let item of task.in_vars; let i = index" [index]="i" [param]="item"></task-input>
        <button class="btn btn-primary" (click)="addInputParam()"><md-icon>add</md-icon> Add param</button>
    </md-tab>
    <md-tab label="Output params">
        <md-icon>home</md-icon>Content 2
    </md-tab>
    <md-tab label="Rules">
        Rules
    </md-tab>
    <md-tab label="Preview">
        Preview
    </md-tab>
</md-tab-group>
<!--
<h4>This is task panel!</h4>
<form>
    <div class="form-group">
        <label for="taskName">Task Name</label>
        <input id="taskName" type="text" class="form-control" placeholder="Task Name">
    </div>
    <div class="card">
        <div class="card-header">
            <a data-toggle="collapse" href="#collapseInputParams" aria-expanded="true" aria-controls="collapseInputParams">
                Input parameters
            </a>
        </div>
        <div class="collapse" id="collapseInputParams">
            <div class="card-block">
                <task-input>Loading...</task-input>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a data-toggle="collapse" href="#collapseOutputParams" aria-expanded="true" aria-controls="collapseOutputParams">
                Output parameters
            </a>
        </div>
        <div class="collapse" id="collapseOutputParams">
            <div class="card-block">
                <span>Some text for Output Params</span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a data-toggle="collapse" href="#collapseRules" aria-expanded="true" aria-controls="collapseRules">
                Rules
            </a>
        </div>
        <div class="collapse" id="collapseRules">
            <div class="card-block">
                <span>Some text for Rules</span>
            </div>
        </div>
    </div>
</form>
<button type="button" class="btn btn-primary" (click)="goToSolution()">Go to solution</button>-->