<div class="panel layer-shadow-1">
    <div class="row">
        <div class="col-md-1 panel-text">#{{index}}</div>
        <div class="col-md-5">
            <md-input placeholder="Param Name" [(ngModel)]="inputParam.name"></md-input>
        </div>
        <div class="col-md-2">
            <md-input placeholder="From" [(ngModel)]="inputParam.from"></md-input>
        </div>
        <div class="col-md-2">
            <md-input placeholder="To" [(ngModel)]="inputParam.to"></md-input>
        </div>
        <div class="col-md-2" style="top: 15px">
            <a class="btn btn-icon" data-toggle="collapse" href="#inputClasses{{index}}"
            (click)="changeExpandState($event)" aria-expanded="true" [attr.aria-controls]="'inputClasses' + index">
                <md-icon>expand_more</md-icon>
            </a>
        </div>
    </div>
</div>
<div class="collapse" id="inputClasses{{index}}">
    <div class="panel expanded panel-container layer-shadow-1">
        <task-class *ngFor="let item of inputParam.classes; let i = index" [index]="i" [class]="item"></task-class>
        <button class="btn btn-primary" (click)="addTaskClass()">Add class</button>
    </div>
</div>