/*general*/
.panel {
    display: block;
    width: 98%;
    height: auto;
    padding: 16px;
    background-color: white;
    /*border: 1px solid green;*/
    border-bottom: 1px solid #FAFAFA;
}

.panel-container {
    border-radius: 2px;
}

.panel-container-top {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.panel-container-bottom {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tab-margin {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
/*delete?*/
.expandable {
    transition: margin 1s ease-out;
    -o-transition: margin 1s ease-out;
    -moz-transition: margin 1s ease-out;
    -webkit-transition: margin 1s ease-out;
}

.expanded {
    margin-top: 16px;
    margin-bottom: 16px;
}
/*Layers shadows*/
.layer-shadow-1 {
    box-shadow: 0 2px 3px 0.5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 3px 0.5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 3px 0.5px rgba(0, 0, 0, 0.3);
}

.layer-shadow-2 {
    box-shadow: 0 2.5px 3.2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2.5px 3.2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2.5px 3.2px 1px rgba(0, 0, 0, 0.3);
}

.layer-shadow-3 {
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
}
/*FAB*/
.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 0;
}

.fab:focus {
    outline: none !important;
    outline-style: none !important;
}

.sync-progress {
    animation: in-progress 1s ease-in-out infinite;
}

@keyframes in-progress {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
/*.fab > md-icon {
    background-color: red;
}*/
/*.container {
    border: 2px solid green !important;
}
.container > first-lab {
    border: 2px solid blue;
}*/

body {
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
